@echo off

set installer_dir=%~dp0

pushd "%TEMP%"

set arch=x86
if "%PROCESSOR_ARCHITECTURE%"=="AMD64" set arch=x86_64

cmd /c %installer_dir%cygwin\setup-%arch%.exe --local-package-dir {LOCALCACHE} {PROXY} {MIRROR} --root C:\cygwin --packages openssh,rsync,cygrunsrv --arch %arch% --quiet-mode

popd

pause

